@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;

}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color:#1DBF3B;
}
header h1{
    font-family: 'Handlee',sans-serif;
    color: white;
    align-items: center;
}
#container{
    height: calc(100vh - 90px - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
#login{
    font-family: 'Inria Serif',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #1DBF3B;
    width: 380px;
    height: 360px;
    background-color: #ffffff;
}
#login p {
    font-size: 32px;
    color: #1DBF3B;
    margin: 20px
}
#inputs{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 90%;
}
#inputs input{
    margin-bottom:10px;
    width: 98%;
    height: 45px;
    font-size: 24px;
    background-color: #D9D9D9;
    border:none;
    padding-left:10px;
}
#login button{
    background-color: #1DBF3B;
    color: #ffffff;
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: none;
    margin:15px;
}
#login button:active{
    background-color: #188d2d;
}
a{
    text-decoration: none;
    color: #000000;
}
#cadastro{
    font-family: 'Inria Serif',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #1DBF3B;
    width: 270px;
    height: 360px;
    background-color: #1DBF3B;
}
#cadastro p{
    margin:30px;
    color: #ffffff
}
#cadastro button{
    background-color: #ffffff;
    color: #1DBF3B;
    width: 150px;
    height: 50px;
    font-size: 30px;
    border: none;
    margin:15px;
}
#cadastro button:active{
    background-color: #e9e9e9;
}
footer{
    height: 90px;
    background-color:#1DBF3B;
}
